<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page_title }}</title>
  {{ content_for_header }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
</head>

<body>

{% section 'header' %}
{% render 'cart-drawer' %}

<main>
  {{ content_for_layout }}
</main>

{% section 'footer' %}

{{ 'theme.js' | asset_url | script_tag }}
</body>
</html>